[submodule "flex_irc"]
	path = flex_irc
	url = git://github.com/neonix20b/flex_irc.git
[submodule "flex_main"]
	path = flex_main
	url = git://github.com/neonix20b/flex_main.git
[submodule "oxmain"]
	path = oxmain
	url = git://github.com/neonix20b/oxmain.git
[submodule "oxpanel"]
	path = oxpanel
	url = git://github.com/neonix20b/oxpanel.git

[submodule "oxwhd"]
	path = oxwhd
	url = git@github.com:neonix20b/oxwhd.git
[submodule "oxdnsupdate"]
	path = oxdnsupdate
	url = git@github.com:neonix20b/oxdnsupdate.git
